# ------ frontend ------

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
example.html

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ----- golang backend -------

# Go бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go тестовые бинарные файлы
*.test

# Выходные директории Go
out/
bin/

# Go модули (если используете vendor)
vendor/

# Go workspace файл
go.work
server.txt
tasks.txt

.env

