services:
  backend:
    container_name: ${COMPOSE_PROJECT_NAME}-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: production
    env_file:
      - ./backend/.env
    ports:
      - "8003:8003"
    depends_on:
      - db
    networks:
      - app_network

  db:
    container_name: ${COMPOSE_PROJECT_NAME}-db
    image: postgres:16-alpine
    restart: always
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db_init:/docker-entrypoint-initdb.d:ro
      - ./postgres/postgresql.conf:/etc/postgresql/postgresql.conf:ro
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    networks:
      - app_network

  nginx:
    image: nginx:alpine
    container_name: ${COMPOSE_PROJECT_NAME}-nginx
    ports:
      - "8004:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    networks:
      - app_network

  frontend:
    container_name: ${COMPOSE_PROJECT_NAME}-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./frontend:/app
      - /app/node_modules
    # env_file:
    #   - ./frontend/.env
    ports:
      - "5173:5173" 
    depends_on:
      - backend


volumes:
  postgres_data:

networks:
  app_network:
