.chat-page *,
.chat-page *::before,
.chat-page *::after {
  box-sizing: border-box;
}

.chat-page{
  position: fixed;
  display: flex;
  inset: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.chat-sidebar {
  width: 320px;
  display: flex;
  flex-direction: column;
  background: var(--color-input-wrap-background);
  color: var(--color-text);
  border-right: 1px solid var(--color-input-border-top);
}

.chat-view{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-view__header{
  padding: 10px;
  background: var(--color-input-wrap-background);
  border-bottom: 1px solid var(--color-input-border-top);
  color: var(--color-text);
  font-weight: 600;
  font-size: 16px;
}

.chat-messages-wrapper{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: var(--color-view-bg);
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 12px;
  gap: 2px;
}
